@importurl('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/* Reseta padding e margin para todos os elementos e define a fonte padrão */
* {
padding: 0;
margin: 0;
font-family: 'Inter', sans-serif;
}
/* Estiliza o header */
header {
background-color: #0c56a6; /* Cor de fundo */
box-shadow: 0px 3px 10px #464646; /* Sombra do box */
}
/* Estiliza a barra de navegação */
.nav-bar {
display: flex;
justify-content: space-between; /* Espaço entre os itens */
align-items: center; /* Alinha os itens verticalmente */
padding: 1.5rem 6rem; /* Espaçamento interno */
}
/* Estiliza a seção do logo */
.logo {
display: flex;
align-items: center; /* Alinha o logo verticalmente */
}
.logo h1 {
color: #fff; /* Cor do texto do logo */
}
.logo img {
max-height: 70px; /* Altura máxima da imagem do logo */
width: auto; /* Largura automática para manter proporções */
}
/* Estiliza a lista de navegação */
.nav-list {
display: flex;
justify-content: flex-end; /* Alinha os itens à direita */
flex-grow: 1; /* Permite que a lista cresça */
align-items: center; /* Alinha os itens verticalmente */
}
.nav-list ul {
display: flex;
list-style: none; /* Remove marcadores da lista */
padding: 0; /* Remove padding */
margin: 0; /* Remove margin */
}
.nav-item {
margin: 0 15px; /* Espaçamento entre itens */
}
.nav-link {
text-decoration: none; /* Remove sublinhado */
font-size: 1.15rem; /* Tamanho da fonte */
color: #fff; /* Cor do texto */
font-weight: 400; /* Peso da fonte */
}
/* Estiliza o botão de reserva */
.reserva-button button {
border: none; /* Remove borda */
background-color: #0187a7; /* Cor de fundo do botão */
padding: 10px 15px; /* Espaçamento interno */
border-radius: 5px; /* Bordas arredondadas */
}
.reserva-button button a {
text-decoration: none; /* Remove sublinhado do link */
color: #fff; /* Cor do texto */
font-weight: 500; /* Peso da fonte */
font-size: 1.1rem; /* Tamanho da fonte */
}
/* Estiliza o ícone do menu móvel */
.mobile-menu-icon {
display: none; /* Esconde o ícone por padrão */
}
/* Estiliza o menu móvel */
.mobile-menu {
display: none; /* Esconde o menu móvel por padrão */
}
/* Estiliza o layout para telas menores (max-width: 810px) */
@media screen and (max-width: 810px) {
.nav-bar {
padding: 1.5rem 4rem; /* Reduz o padding em telas menores */
}
.nav-item {
display: none; /* Esconde itens de navegação no modo móvel */
}
.reserva-button {
display: none; /* Esconde o botão de reserva no modo móvel */
}
.mobile-menu-icon {
display: block; /* Mostra o ícone do menu móvel */
}
.mobile-menu-icon button {
background-color: transparent; /* Fundo transparente */
border: none; /* Remove borda */
cursor: pointer; /* Cursor de ponteiro */
}
.mobile-menu ul {
display: flex;
flex-direction: column; /* Alinha os itens em coluna */
text-align: center; /* Centraliza o texto */
padding-bottom: 1rem; /* Espaçamento inferior */
}
.mobile-menu .nav-item {
display: block; /* Mostra itens de navegação no menu móvel */
padding-top: 1.2rem; /* Espaçamento superior entre itens */
}
.mobile-menu .reserva-button {
display: block; /* Mostra o botão de reserva no menu móvel */
padding: 1rem 2rem; /* Espaçamento interno do botão */
}
.mobile-menu .reserva-button button {
width: 100%; /* Largura total do botão */
}
.open {
display: block; /* Mostra elementos com a classe 'open' */
}
}